.page-container{
    background-color: rgb(255, 255, 255);
    min-width: 90%; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid rgba(221, 221, 221, 0.808);
    box-shadow: 0 3px 2px -2px rgba(187, 187, 187, 0.8);
}

.item .prod-title
{
    font-size: 1.1rem;
    font-weight: 500;
}

.item .prod-desc
{
    color: #666;
    font-size: 0.9rem;
}

.item .prod-categoria
{
    font-size: 0.9rem;
    font-style: italic;
}

.item .options{
    font-size: 0.9rem;

}

.item .qtd{
    font-size: 1.2rem;

}

.item .qtd i{
    cursor: pointer;
}

.item .card-body p
{
    font-size: 0.9rem;
    margin: 0;
}

.item .decimals
{
    font-size: 70%;
    position: relative;
    top: 3px;

}

.item .price
{
    font-size: 1.3rem;
}

.price-information .price
{
 font-size: 1.2rem;
}

.price
{
 font-size: 1.5rem;
}

.decimals
{
    font-size: 70%;
    position: relative;
    top: 3px;

}

.item,.price-information{
    border-bottom: 1px solid rgba(221, 221, 221, 0.808);
    padding: 24px 0;
}

.user-enderecos .endereco-option
{
    padding: 12px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.808);
}

.user-enderecos .endereco-option:hover
{
    background-color: rgba(216, 215, 215, 0.404);
    cursor: pointer;
    
}
.user-enderecos .endereco-option .form-check-input
{
    position: relative;
    margin: 0;
    margin-top: 4.8px;
    margin-right: 12px;
}


#enderecoModal .container-fluid
{
    padding: 0;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(235, 232, 232);
    box-shadow: 0 5px 2px -3px rgba(199, 198, 198, 0.8);
    margin-bottom: 30px;
}



.cep-entry #informcep
{
    padding-right: 0;
    padding-left: 0;
    margin-left: 12px;
    margin-right: 12px;
    border: 0;
    border-radius: 1px;
    border-bottom: 2px solid rgb(199, 198, 198);
    padding-bottom: 1px;
    background-color: transparent;
}

.cep-entry #informcep:hover
{
    border-bottom: 3px solid rgb(170, 170, 170);
}

.cep-entry form
{
    padding: 12px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.808);
}

.cep-entry form:hover
{
    background-color: rgba(216, 215, 215, 0.404);
    cursor: pointer;
}
