.prod-info{
    background-color: rgb(255, 255, 255);
    min-width: 90%; 
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    border: 1.5px solid rgba(221, 221, 221, 0.808);
}

.prod-info .right-content .payment-card
{
    border: 1.5px solid rgba(221, 221, 221, 0.808);
    padding: 14px;
}

.products-carousel-section .section-title{
    font-size: 24px;
    font-weight: 500;
}

.item
{
    padding: 0 8px 0 8px;
    outline: none !important;
    
}

.item a
{
    text-decoration: none;
    color: #212529;
}

.item img
{
    transform: scale(0.95);
}


.item .card
{
    cursor: pointer;
    box-shadow: 0 2px 4px 2px rgba(204, 203, 203, 0.322);
    border: solid 1px rgba(216, 214, 214, 0.835);
}

.item .card:hover
{
    border: solid 1.5px rgba(180, 178, 178, 0.835);
    box-shadow: 0px 3px 2px rgba(121, 120, 120, 0.322);
}

.item .card-body
{
    width: 100%;
    text-align: left;
    padding: 12px;
}

.item .card-header
{
    padding: 1px 1px;
}

.item .card-body p, .item .card-body span
{
    font-size: 0.76rem;
}

.item .card-body .tag, .item .card-body .parcela
{
    font-size: 0.7rem !important;
}

.item .card-body .parcela
{
    font-size: 0.8rem;
}

.decimals{
    font-size: 70%;
    font-weight: bold;
    position: relative;
    top: 3px;
}

.item .card-body .decimals
{
    font-size: 70%;
    position: relative;
    top: 3px;

}

.item .card-body .price
{
    font-size: 1.3rem;
}

.item .card-body .product-desc
{
    font-size: 0.8rem;
    display: none;
}

.products-carousel-section .section-title
{
    color: #666;
}

.rating {
    direction: rtl;
    justify-content: center
  }
  
  .rating>input {
    display: none
  }
  
  .rating>label {
    position: relative;
    width: 1em;
  
    color: #FFD600;
    cursor: pointer
  }
  
  .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
  }
  
  .rating>label:hover:before,
  .rating>label:hover~label:before {
    opacity: 1 !important
  }
  
  .rating>input:checked~label:before {
    opacity: 1
  }
  
  .rating:hover>input:checked~label:before {
    opacity: 0.4
  }
  