.menu-canto{
	background: red;
	

	margin-left: 0;
}
.centro{
	background: blue;
	float: right;
}
.title-meus{
	font-size: 24px;
    margin-bottom: 30px;
}
.cts{
	 width: 760px;

}
.cts{
	background: #fff;
	border-radius: 5px;
}
.c-hr{
	    height: 0px!important;
}
.ONE{
	padding-left: 15px;
}